/* Chat Container */
.chat-container {
  /* overflow: hidden; */
  display: flex; /* Flexbox for layout */
  flex-direction: column; /* Stack items vertically */
  flex: 1; /* Take up remaining space */
  height: auto; 
  padding: 20px; /* Padding */
  background-color: #f0f0f0; /* Background color */
}

/* Chat Title */
.chat-title {
  font-size: 24px; /* Font size */
  margin-bottom: 20px; /* Space below title */
}

/* Chat Input Container */
.chat-input-container {
  display: flex; /* Flexbox for layout */
  align-items: center; /* Center items vertically */
  margin-top: auto; /* Push to the bottom */
}

/* Chat Input */
.chat-input {
  flex: 9; /* Larger size relative to button */
  padding: 15px; /* Padding */
  border: 1px solid #ccc; /* Border */
  border-radius: 4px; /* Rounded corners */
  font-size: 16px; /* Font size */
}

/* Chat Send Button */
.chat-send-button {
  flex: 1; /* Smaller size relative to input */
  padding: 10px; /* Padding */
  margin-left: 10px; /* Space between input and button */
  border: none; /* No border */
  border-radius: 4px; /* Rounded corners */
  background-color: #007bff; /* Background color */
  color: white; /* Text color */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
}

/* Chat Send Button Hover Effect */
.chat-send-button:hover {
  background-color: #0056b3; /* Darker background color on hover */
}
.chat-messages{
  overflow-y: scroll;
  height: 330px;
}